@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/Oregano-Regular.woff2') format('woff2'),
       url('/fonts/Oregano-Regular.woff') format('woff');
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: lightblue;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0 auto;
  display: flex;
/*   min-width: 320px;
  min-height: 98vh; */
  background: rgba(25,25,25,255);
}

main{
  height: 94vh;
/*   box-shadow: 1px 2px 10px grey;
  border-radius: 0 0 10px;
  background-color: rgba(130, 255, 140, 0.2);
  padding: 5px; */
}

/*  * {
  outline: 1px solid red;
} */

.title{
  position: relative;
  left: 860px;
  top: -450px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 4em;
}

footer{
  position: fixed;
  display: flex;
  bottom: 0;
  right: 20px;
}

h1 {
  font-family: 'Oregano', sans-serif;
  font-size: 3em;
  line-height: 2;
}

h2{
  font-family: 'Oregano', sans-serif;
  font-size: 2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
}