@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/Oregano-Regular.woff2') format('woff2'),
       url('/fonts/Oregano-Regular.woff') format('woff');
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: lightblue;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  background: rgba(25,25,25,255);
}

.title {
  font-size: min(5vw, 4em);
}

footer{
  position: fixed;
  display: flex;
  bottom: 0;
  right: 20px;
}

h1 {
  font-family: 'Oregano', sans-serif;
  font-size: 3em;
  line-height: 2;
}

h2{
  font-family: 'Oregano', sans-serif;
  font-size: 2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
}